#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.username{
  position: relative;
}
.username p{
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: -45px;
  bottom: -40px;
  color: #fff;
  transition: all 1s;
  background: #000;
  cursor: pointer;
}
.username p:hover{
  background: #999;
}